.apply_button {
  background-color: rgb(10, 102, 194);
  color: rgb(255, 255, 255);
  border: none;
  padding: 7.39px 19px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 6px;
  transition: background-color 0.15s;
  vertical-align: top;
}

.apply_button:hover {
  background-color: rgb(1, 81, 161);
}

.save_button {
  background-color: rgb(255, 255, 255);
  color: rgb(10, 102, 194);
  padding: 6px 16.3px;
  border-radius: 20px;
  border-color: rgb(10, 102, 194);
  border-width: 1px;
  border-style: solid;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.15s;
  vertical-align: top;
}

.save_button:hover {
  background-color: rgba(74, 161, 247, 0.178);
  border-width: 1.5px;
}
