* {
  font-family: "Roboto", Arial;
}

h1 {
  font-size: 24px;
  margin: 0;
  font-weight: 700;
  margin-bottom: 6px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.profile-pictures {
  width: 260px;
  height: 260px;
  border-radius: 2px;
}

.friend-profile-div {
  display: inline-block;
  vertical-align: middle;
}

.friend-profile {
  width: 35px;
  height: 35px;
  border-radius: 25px;
  margin-right: 5px;
}

.friend-request-div {
  display: inline-block;
}

.friend-requests {
  font-size: 18px;
  font-weight: 400;
  color: #606060;
  margin: 0;
}

.sub-container {
  display: inline-block;
  border-radius: 2px;
  vertical-align: top;
  box-shadow: 2px 2px 10px #b8b8b8;
}

.cry-cat {
  object-fit: cover;
  object-position: right;
}

button {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  color: white;
  background-color: #3874e9;
  border: none;
  padding: 8px 21px;
  text-align: center;
  border-radius: 3px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #050542;
}

.image-row {
  margin-bottom: 10px;
}

.user-info {
  padding-left: 10px;
}

.friend-profile,
.friend-requests,
button {
  cursor: pointer;
}
