/* .thumbnail {
          width: 300px;
          height: 300px;
          /* object fit tries to cover the image within given width & height */
/* object-fit: cover; */
/* after covering image you can set which position you want */
/* object-position: top; */
/* contain property tries to contain the image within width & height by making img smaller */
/* object-fit: contain; */
/* with border property you can see how contain property works */
/* border: 2px solid red;
      } */

.thumbnail {
  width: 300px;
  display: block;
}

.search-bar {
  font-size: 20px;
  margin: 12px;
}

.video-title {
  width: 300px;
}

/* 
.video-author,
.video-stats {
  display: inline-block;
} */
